<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/f6a8e7b339.js" crossorigin="anonymous"></script>
    <title>CHATS</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg" >
            <ul>
                <li>
                    <i class="fa-solid fa-briefcase"></i>
                    <a href="#" class="button">v</a>
                </li>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="#" class="button">host</a>
                </li>
                <li>
                    <i class="fa-solid fa-message"></i>
                    <a href="#" class="button">chats</a>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="#" class="button">account</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
                    <a href="#" class="button">logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                
            </header>
            <section class="projects">

            </section>
        </main>
    </div>
</body> 